name: check copyright
on:
  pull_request:
    paths:
      - '.github/workflows/check-copyright.yml'
      - '.pre-commit-config.yaml'
      - 'scripts/check_copyright_notice.py'
      - '**/*.go'
      - '!**/docs/**/*'
      - '!**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  copyright:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout devtools
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check copyright notice
        run: |
          pip install \
            pre-commit \
            comment-parser>=1.2.3
          pre-commit run --all-files
