name: Update go-workflows

on:
  workflow_dispatch:
  schedule:
    - cron: "30 3 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-workflows:
    uses: Open-CMSIS-Pack/workflows-and-actions-collection/.github/workflows/update-workflow.yml@null
    secrets:
      TOKEN_ACCESS: ${{ secrets.GRASCI_WORKFLOW_UPDATE }}
